a {
    color: black;
}

a:hover,
a:focus,
a:active{
  color: white;
  text-decoration: none;
}

.landing {
    margin-bottom: 10px;
    opacity: 0.8;
}

.landing:hover,
.landing:active {
    opacity:1;
}

.caption {
    position: absolute;
    top: 40%;
    left: 5%;
    right: 5%;
    font-size: 50px;
    color: white;
}

.contacts {
    position: absolute;
    margin: 5%;
    top: 40%;
    color: white
}

.header {
    margin-bottom: 15%;
}
