a {
    color: black;
}

.row {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover,
a:focus,
a:active{
  color: white;
  text-decoration: none;
}

.landing {
    margin-bottom: 10px;
    opacity: 0.9;
}

.landing:hover,
.landing:active {
    opacity:1;
}

.caption {
    position: absolute;
    top: 80%;
    left: 5%;
    right: 40%;
    font-size: 50px;
    color: white;
}

.contacts {
    position: absolute;
    margin: 5%;
    top: 40%;
    color: white
}

.header {
    margin-bottom: 15%;
}

.img-responsive {
    margin: 0 auto;
}

.feed {
    margin-top: 2.5%
}
