body {
    background: rgb(230,230,230);
}

a {
    color: black;
}

.row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a:hover,
a:focus,
a:active{
  color: white;
  text-decoration: none;
}

.landing {
    margin-bottom: 10px;
    opacity: 0.8;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.landing:hover,
.landing:active {
    opacity:1;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.landing.img-responsive,
.landing.embed-responsive {
    margin-bottom: 30px;
}

.caption {
    position: absolute;
    top: 80%;
    left: 5%;
    right: 40%;
    font-size: 50px;
    color: white;
}

.contacts {
    position: absolute;
    margin: 5%;
    top: 40%;
    color: white
}

.header {
    margin-bottom: 15%;
}

.img-responsive {
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.feed {
    margin-top: 15px;
    margin-bottom: 15px;
}

.video-rounded{
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    -webkit-transform: rotate(0.000001deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
